body
{ font-family: "trebuchet ms", arial, sans-serif;
  color: #222;
  line-height: 1.4em;
  background-image:url("images/hexa.png");
  width: 900px;
  margin: 10px auto 0px auto;}

header{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 150px;
	background:url('images/bois.png');
	border: 5px solid #737373;
}	

header h1
{
    text-align:center;
    font-size: 2.5em;
    font-weight: bold;
	text-decoration: underline;
}

section{
	background:url('images/blanc.png');
	border: 5px solid #646464;
	height: auto;
	width: auto;
	border-radius: 10px;
}
	
article{
	margin:5px;
}

section h2{
	font-size: 1.8em;
	text-align: center;
}

section h3
{ font-size: 110%;
  padding: 9px 0 5px 0;
  color: #009FBC;}

.chaine{
	display: flex;
	flex-direction: column;
	color: green;
}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #AEB002;}

p
{ line-height: 1.5em;
  padding-bottom: 17px;}

footer{
	padding-left:10px;
}
